doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/style.css')
    
    script(src='/javascripts/common.js')

    script(src='/javascripts/jquery/jquery-1.7.2.js')
    script(src='/javascripts/bootstrap/bootstrap.min.js')
    script(src='/javascripts/bootstrap/bootstrap-collapse.js')
    script(src='/javascripts/bootstrap/bootstrap-tooltip.js')
    script(src='/javascripts/bootstrap/bootstrap-popover.js')
    
    script(src='/javascripts/jquery/jquery.scrollTo-1.4.3.1-min.js')

    script
      var apikey = '#{apikey}';
      var sessionId = '#{sessionId}';
      var token = '#{token}';
      var myUsername = '#{username}';
      var myRole = '#{role}';
      var authId = '#{authId}';
      var userId = '#{userId}';
      var conferenceId = '#{conferenceId}';
      var slidesPartialPath = '#{slidesPartialPath}';

    script(src='/javascripts/ios-bridge.js')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socketio-client.js')



  body
    block content
    